* 									{ margin: 0; padding: 0; }
.dropdown								{ font: 14px Helvetica, Sans-Serif; } 
#page-wrap							{ width: 800px; margin: 25px auto; } 
.dropdown a									{ text-decoration: none; }
#special ul 								{ list-style: none; }
.dropdown p                                   { margin: 15px 0; }

/* 
	LEVEL ONE
*/
#special ul.dropdown                         { position: relative; }
#special ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #ccc; }
#special ul.dropdown a:hover		            { color: #000; }
#special ul.dropdown a:active                { color: #ffa500; }
.menu              { display: block; padding: 8px 16px; border-right: 1px solid #333;
	 								  color: #222; }
									  
#special ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
#special ul.dropdown li.hover,
#special ul.dropdown li:hover                { background: #6CF; color: black; position: relative;bottom:100%; }
#special ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
#special ul.dropdown ul 						{ width: 220px; visibility: hidden; position: absolute; bottom:100%; left: 0; }
#special ul.dropdown ul li 					{  font-weight: normal; background: white; color: #000; 
									  border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
#special ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 


/* 
	LEVEL THREE
*/
#special ul.dropdown ul ul 					{ left: 100%; top:0; }
#special ul.dropdown li:hover > ul 			{ visibility: visible; }
.menu_btn							{display:inline-block;
	margin:0;
	padding:0;
	width:53px;
	height: 52px;
	background-image:url(../images/menu_btn.png);
	background-position:top;
	background-repeat:no-repeat;
	text-indent:-9999px;}
	
	.menu_btn:hover							{display:inline-block;
	margin:0;
	padding:0;
	width:53px;
	height: 52px;
	background-image:url(../images/menu_btn.png);
	background-position:bottom;
	background-repeat:no-repeat;
	text-indent:-9999px;}

.mtitle{
	padding-left:40px;
background-image:url(../images/page_icon_up.png);
background-repeat:no-repeat;

	
}
.mtitle:hover{
	padding-left:40px;
background-image:url(../images/page_icon_over.png);
background-repeat:no-repeat;

	
}
.mvideo{
	padding-left:40px;
background-image:url(../images/video_icon_up.png);
background-repeat:no-repeat;

	
}
.mvideo:hover{
	padding-left:40px;
background-image:url(../images/video_icon_over.png);
background-repeat:no-repeat;

	
}
.mquestion{
	padding-left:40px;
background-image:url(../images/question_icon_up.png);
background-repeat:no-repeat;

	
}
.mquestion:hover{
	padding-left:40px;
background-image:url(../images/question_icon_over.png);
background-repeat:no-repeat;


	
}